.vscode/settings.json
glove.twitter.27B.25d.txt
test.ipynb
test.py
.ipynb_checkpoints/test-checkpoint.ipynb
.vscode/launch.json
glove-vec.npy
question-vec.txt
*.pyc
question-len.txt
pre_train_sample.txt
index_to_word.txt
save/experiment-log.txt
save/generator_sample.txt
save/model/checkpoint
save/model/model.ckpt.data-00000-of-00001
save/model/model.ckpt.index
save/model/model.ckpt.meta
save/sample-log.txt
save/pre-train-sample.txt
data/Computers&Internet.txt
data/FullOct2007.xml
data/questions.txt`
